<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Trabaje juicioso</title>
</head>
<body>
    <div class="caja" id="infoC">
        <h2>Otras formas de contacto</h2>
            <hr>
                <ul>
                    <li>Número de contacto</li>
                        <a class="icon-phone icon"></a>
                        <p class="pli"><a href="tel:+6013202907627">Celular:+601-320-290-7627</a></p>
                        <p class="pli"><a href="tel:+6017571521">Fijo:+601-757-1521</a></p>
                    <li>Correo electronico</li>
                        <a class="icon-gmail icon"></a>
                        <p class="pli"><a href="https://accounts.google.com/v3/signin/identifier?dsh=S-1224003907%3A1680943708623646&continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F%3Ftab%3Drm%26ogbl&emr=1&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F%3Ftab%3Drm%26ogbl&ifkv=AQMjQ7RkybzT-17u-RLpS9xRwiiQLBdQy5Ru_HavGLroEac-jjAtytrqnVTVywaD2V4ysSVMVogHNg&osid=1&passive=1209600&service=mail&flowName=GlifWebSignIn&flowEntry=ServiceLogin#inbox">Gmail</a>: sebastian24gg@gmail.com</p>
                        <p class="pli"><a href="https://outlook.live.com/mail/0/">Outlook</a>: j.u.a.n777@hotmail.com</p>
                    <!-- <li>Redes sociales</li>
                        <a class="icon-facebook icon"></a>
                        <p class="pli"><a href="https://www.facebook.com/juan.barrera.507464/">Facebook</a></p>
                        <p class="pli"><a href="https://www.facebook.com/juan.barrera.507464/">Facebook</a></p> -->
                </ul>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</html>